<form [formGroup]="rentForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
    <input type="number" placeholder="Enter year..." formControlName="year">
    <input type="number" placeholder="Enter month..." formControlName="month">

    <button type="submit" [disabled]="rentForm.invalid" [ngClass]="{'disable': rentForm.invalid}">Submit</button>
  </div>
</form>

<!-- year - error msg -->
<div *ngIf="rentForm.controls.year.touched && rentForm.controls.year.invalid" class="error">
  <div *ngIf="rentForm.controls.year.errors?.required">
    <h3>Year is required</h3>
  </div>
  <div *ngIf="rentForm.controls.year.errors?.min">
    <h3>The year is incorrect - less then 1980</h3>
  </div>
  <div *ngIf="rentForm.controls.year.errors?.max">
    <h3>The year is incorrect - more then {{ current_year }}</h3>
  </div>
</div>

<!-- month - error msg -->
<div *ngIf="rentForm.controls.month.touched && rentForm.controls.month.invalid" class="error">
  <div *ngIf="rentForm.controls.month.errors?.required">
    <h3>Month is required</h3>
  </div>
  <div *ngIf="rentForm.controls.month.errors?.min">
    <h3>The month is incorrect - less then 1</h3>
  </div>
  <div *ngIf="rentForm.controls.month.errors?.max">
    <h3>The month is incorrect - more then 12</h3>
  </div>
</div>

<div *ngIf="rentData&&rentForm.valid" class="rent-info">
  <h2 class="colored">{{ year }}/{{ month }}:</h2>
  <h2>Expected revenue: <span class="colored">{{ rentData.revenue }}</span></h2>
  <h2>Expected total capacity of the unreserved offices: <span class="colored">{{ rentData.unreserved }}</span></h2>
</div>
